$primary: #702963;
$purple: #C3B1E1;
$black: #000;
$white: #fff;
$grey: #f2f2f2;
$yellow: #FFFF00;

$header-text: 'Notable', serif;
$body-text: 'DM Sans', sans-serif;

@import 'node_modules/include-media/dist/_include-media';
